* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}
/* navbar styling */
.navbar {
  height: 80px;
  overflow: hidden;
}
.nav-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.nav-item {
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #000c2d;
}
.nav-link:hover,
.nav-link:active {
  color: #5f626a;
}
.btn-outline {
  text-decoration: none;
  color: #2f70fe;
  padding: 1.2rem 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2f70fe;
}
.btn-login {
  text-decoration: none;
}

.hero-section {
  background-color: #2f70fe;
  height: 80vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  position: relative;
  overflow: visible;
}

.hero-container {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.hero-img-left {
  position: absolute;
  bottom: 2rem;
  left: 0;
  z-index: 50;
}

.hero-img-right {
  position: absolute;
  right: 0;
  bottom: 18%;
  z-index: 50;
}

.hero-text-container {
  width: 50%;
  color: #fff;
  text-align: center;
}
.hero-heading {
  font-size: 4.8rem;
  margin-bottom: 2.5rem;
}
.hero-description {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  line-height: 1.8;
}
.hero-button:link,
.hero-button:visited {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0 auto;
}
.hero-button:hover {
  background-color: rgb(38, 38, 38);
}

/* features section styling */
.features-section {
  height: 80vh;
  background: url(./images/Group\ 135.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -7rem;
}
.features-container {
  max-width: 82.4rem;
  width: 90%;
  text-align: center;
}
.feature-title {
  font-size: 4rem;
  margin-bottom: 4rem;
}
.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.6rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  color: #000c2d;
}
.feature-box {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}
.box {
  height: 4.8rem;
  width: 4.8rem;
}
.frame {
  height: 4.8rem;
  width: 4.8rem;
}
.chart {
  height: 4.4rem;
  width: 4.4rem;
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.8rem;
  height: 9.8rem;
  border-radius: 100%;
  margin-bottom: 2.4rem;
}
.feature-icon-1 {
  background-color: hsla(221, 99%, 59%, 0.205);
}
.feature-icon-2 {
  background-color: hsla(93, 98%, 47%, 0.205);
}
.feature-icon-3 {
  background-color: hsla(221, 99%, 59%, 0.205);
}

/* ctn section */

.ctn-container {
  max-width: 90rem;
  width: 90%;
  padding: 10rem 0;
}
.ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10rem;
}
.ctn:last-child {
  margin-bottom: 0;
}

.ctn-text-box {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.ctn-img {
}
.ctn-text-box .tertiary-heading {
  color: #181818;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.7rem;
}

.ctn-description {
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #000c2d;
}
.ctn-btn:link,
.ctn-btn:visited {
  color: #2f70fe;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}
.ctn-btn:hover,
.ctn-btn:active {
  color: #6c96f3;
}
/* footer styling */

.section-footer {
  background-color: black;
  padding: 7rem 0;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-heading {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-link {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

@media screen and (max-width: 780px) {
  html {
    font-size: 55%;
  }

  .hero-heading {
    font-size: 3rem;
  }
  .hero-img-right,
  .hero-img-left {
    display: none;
  }
  .features-section {
    height: 100vh;
  }

  .feature-list {
    grid-template-columns: 1fr;
  }
  .ctn {
    flex-direction: column;
    gap: 3rem;
  }
  .ctn-2,
  .ctn-4 {
    flex-direction: column-reverse;
  }
}
